@model EventQR.Models.Organizer

@{
    ViewData["Title"] = "ChangePassword";

    Layout = "~/Views/Shared/_OrganizerLayout.cshtml";
    ViewBag.activeTabName = "ChangePassword";
    EventQR.Models.Organizer thisEvent = ViewBag.ActiveEvent;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Update</title>
</head>
<body>


    <div class="container">
        <div class="row-md-15">
            <div class="col-md-8">

                <div class="card">
                    <div class="card-header text-center">
                        <h2>Change Password</h2> 
                    </div>
                    <form id="ExistingLoginId" method="post">
                        <div class="card-body"> 
                            <div class="col-sm-12">
                                <label for="currentPassword">Current Password:</label><br>
                                <input type="password" id="currentPassword" class="form-control" name="currentPassword" required><br><br>

                            </div>
                            <div class="col-sm-12">
                                <label for="newPassword">New Password:</label><br>
                                <input type="password" id="newPassword" class="form-control" name="newPassword" required><br><br>

                            </div>
                            <div class="col-sm-12">

                                <label for="confirmPassword">Confirm Password:</label><br>
                                <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" required><br><br>

                            </div>
                        </div> 
                        <div class="card-footer text-right">
                            <input type="submit" class="btn btn-info" value="Update"> 
                        </div> 
                    </form>
                </div>
            </div>
        </div>

    </div>

</body>
</html>